:root{
  --primary: #0072b1;
  --hover-shade: #3837371a;
  --box-shadow-default: inset 0 0 0 1px var(var(--hover-shade))
}
html{
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
body img, body picture, body svg, body video {
  display: block;
  max-width: 100%;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body ol, body ul {
  list-style: none;
}
body blockquote, body q {
  quotes: none;
}
body blockquote:before, body blockquote:after,
body q:before, body q:after {
  content: none;
  content: "";
}
body input, body textarea, body button, body select {
  font: inherit;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
}


.vh-85{
  min-height: 85vh
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

a{
  text-decoration: none;
  color: inherit;
}
.box-shadow-default{
  box-shadow: inset 0 0 0 1px var(--hover-shade);
}
.fs-7{
  font-size: 14px;
}
.text-gray{
  color: #a5a5a5;
}
.text-gray-900{
  color: #636363;
}